.search-container{
    display:inline-block;
}
.searchBar {
    display:flex;
    align-items:center;
    gap:10px;
    width:auto;
    height:auto;
    min-width:200px;
    max-width:400px;
}
.searchBar input{
    width:auto;
    border:none;
    outline:none;
    background-color:#fff;
    font-size:1.1em;
    padding:0.6em 0.8em;
    border-radius:10px;

}
