:root{
    --background-dark:#3C3D37;
    --background-light:#FAF9F6;
    --dark-theme:#1E201E;
    --dark-theme1:#697565;
    --light-theme:#EDEADE;
    --light_theme2:#DBE9F4;
    --light-theme3:#F7E7CE;
    --light-theme4:#E9E9E4;
    --dark-text:#000000;
    --light-text:#ffffff;
    --primary:#a1b5d8;
    --primary-hover:#b0d0d3;
    --grey:#808080;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins' , sans-serif ; 
}
html{
    font-size:12pt;
}
body{
    background-color:var(--background-dark);
    width:100dvw;
    height:100dvh;
}